<div class="container">
    <form><div *ngIf="serverCheck"  class="alert alert-danger">
        {{status}}<br></div>
        <h2>Curreny Trade Application</h2>
    <!-- Reusable convertor widget for User Story-->
    <convertor-widget (getConvertedAmount)="getResult($event)"></convertor-widget>
   
      <div class="form-group">
        <h3 for="exampleFormControlInput1"> Amount Converted to USD equivalent</h3>
        <input type="number" class="form-control" name="result" [(ngModel)]="result" placeholder="Amount" readonly>
      </div>
   
    </form>
  </div>