.form-control{
  width: 50%;
}

h2 {
	padding: 20px 30px;
	color: #0a21a0;
	text-transform: uppercase;
	font-size: 24px;
  font-weight: bold;
  background-color: rgb(228, 231, 245)
}

.container {
background-color: rgb(176, 204, 228);
}
input[type="number"]{
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  height:45px;
  padding: 0px 15px;
  font-size: 18px;
  width: 80%;
}