
form{
	background: #E6E6E6;
	  width: 80%;
	  float: left;
	  padding: 10px 15px;
	  height: 100%;
	  overflow-y: scroll;
  }
  input[type="search"],select{
	  display: block;
	  margin-bottom: 20px;
	  border-radius: 5px;
	  border: none;
	  height:45px;
	  padding: 0px 15px;
	  font-size: 18px;
	  width: 80%;
  }
  
  @media only screen and (max-device-width: 360px) {
	  input[type="search"]::-webkit-search-cancel-button {
			  -webkit-appearance: searchfield-cancel-button;
		  }
  
  }
  h1{
	padding: 20px 30px;
	  color: #5a39b5;
	  text-transform: uppercase;
	  font-size: 24px;
	  font-weight: bold;
  }
  label{
	display: block;
	  font-size: 18px;
  }
  button {
	background-color: rgb(78, 76, 175);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 50%;
  }