
<br>
<div class="container">
<form>
  <div class="form-group" [class.has-error]="amountEntered.invalid && amountEntered.touched">
    <label for="exampleFormControlInput1">Enter the amount to trade</label>
    <input type="search" class="form-control" #amountEntered="ngModel" name="amount" 
    [(ngModel)]="amount" placeholder="Amount" pattern="^[1-9].{0,7}$"required  >   </div>
    <small class="help-block" *ngIf="(amountEntered.errors?.pattern && amountEntered.touched)||amountEntered.errors?.required">
        Enter amount to be converted
    </small>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Choose the currency</label>
    <select class="form-control" name="currency" [(ngModel)]="selectedCurrency" [disabled]="(amountEntered.errors?.pattern ) ||amountEntered.errors?.required" (change)="convertCurrency()">         
      <option *ngFor="let currency of currencyList" [ngValue]="currency">{{currency.name}}</option>      
    </select>
  </div>


</form>
</div>